<nav class="navbar navbar-dark bg-primary mb-4 shadow-sm">
  <div class="container">
    <h1 class="navbar-brand mx-auto">Jaime's Certifications Gallery</h1>
  </div>
</nav>

<div class="min-vh-100">
  <ng-container
    *ngIf="certifications.all.length !== 0; else reloadCertifications">
    <div class="container mb-4">
      <select
        #categorySelect
        class="form-select clickable shadow-sm"
        [value]="filter"
        (change)="filterCertifications(categorySelect.value)">
        <option selected value="">ALL ({{ certifications.all.length }})</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category | uppercase }} ({{ certifications[category].length }})
        </option>
      </select>
    </div>

    <div class="container mb-4" *ngFor="let year of years">
      <h2 class="d-inline-block position-sticky top-0 my-0">
        {{ year }} ({{ filteredCertificationsByYear[year].length }})
      </h2>
      <hr class="m-0 mt-1 pb-2" />
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <ng-container
          *ngFor="let certification of filteredCertificationsByYear[year]">
          <div class="mb-3" *ngIf="certification.date.startsWith(year)">
            <img
              loading="lazy"
              class="clickable w-100 shadow-sm"
              title="Click to preview image"
              [src]="certification.image"
              (click)="openPreview(certification)" />
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #reloadCertifications>
    <div class="container text-center">
      <button
        type="button"
        class="btn btn-primary btn-lg m-5"
        (click)="fetchCertifications()"
        [disabled]="loading">
        Reload certifications
      </button>
    </div>
  </ng-template>
</div>

<footer class="bg-white text-center py-3 shadow-sm">
  <a href="https://jpin730.github.io/" target="_blank">Jaime Pineda</a>
  <span>&nbsp;&copy;&nbsp;2022</span>
</footer>

<div
  *ngIf="preview"
  class="d-flex vh-100 vw-100 position-fixed top-0 start-0 bg-dark bg-opacity-75 px-md-5"
  (click)="closePreview()">
  <img
    class="preview-img m-auto"
    [src]="certification.image"
    (click)="$event.stopPropagation()" />
  <button
    type="button"
    class="btn-close btn-close-white position-fixed top-0 end-0 m-3"></button>
</div>

<div
  *ngIf="showScrollToTop && !preview"
  title="Go to top"
  class="scroll-to-top bg-primary clickable position-fixed bottom-0 end-0 p-3 m-3 m-lg-5 rounded"
  [@inOutAnimation]
  (click)="scrollToTop()">
  <img loading="eager" src="assets/top-arrow.svg" width="24" height="24" />
</div>

<div
  *ngIf="loading"
  class="position-fixed top-0 start-0 d-flex bg-dark bg-opacity-75 min-vh-100 min-vw-100">
  <div
    class="spinner-grow text-light m-auto"
    style="width: 10rem; height: 10rem">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
