<nav class="navbar navbar-dark bg-primary mb-4">
  <div class="container">
    <h1 class="navbar-brand mx-auto">Jaime's Certifications</h1>
  </div>
</nav>

<div class="min-vh-100">
  <div class="container mb-4">
    <select
      #categorySelect
      class="form-select"
      [value]="filter"
      (change)="filterCertifications(categorySelect.value)">
      <option selected value="">ALL</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category | uppercase }}
      </option>
    </select>
  </div>

  <div class="container mb-4" *ngFor="let year of years">
    <h2 class="m-0">{{ year }}</h2>
    <hr class="mt-1" />
    <div class="row row-cols-1 row-cols-lg-2">
      <ng-container *ngFor="let certification of filteredCertifications">
        <div class="mb-3" *ngIf="certification.date.startsWith(year)">
          <img
            class="w-100"
            [src]="certification.image"
            (click)="openPreview(certification)" />
        </div>
      </ng-container>
    </div>
  </div>
</div>

<footer class="bg-white text-center py-3">
  <a href="https://github.com/jpin730" target="_blank">Jaime Pineda</a>
  <span>&nbsp;&copy;&nbsp;2022</span>
</footer>

<div
  *ngIf="preview"
  class="d-flex vh-100 vw-100 position-fixed top-0 start-0 bg-dark bg-opacity-75"
  (click)="closePreview()">
  <img
    loading="lazy"
    class="m-auto py-5 py-lg-0 px-lg-5"
    style="max-height: 100vh; max-width: 100%"
    [src]="certification.image"
    (click)="$event.stopPropagation()" />
</div>
